<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkillTrack – Задания</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>

<div class="layout">

    <!-- ЛЕВАЯ ПАНЕЛЬ -->
    <aside class="sidebar">

        <h2 class="logo">SkillTrack</h2>

        <nav class="menu">
            <a class="menu-item active">Задания</a>
            <a class="menu-item">Оценки</a>
        </nav>

        <!-- Профиль внизу -->
        <div class="user-block">
            <div class="avatar"></div>
            <div class="user-info">
                <p class="user-name">mdo</p>
                <a href="#" class="user-link">Настройки</a>
                <a href="#" class="user-link">Профиль</a>
                <a href="#" class="user-link logout">Выйти</a>
            </div>
        </div>

    </aside>

    <!-- ОСНОВНОЙ КОНТЕНТ -->
    <main class="content">

        <h1 class="title">Список заданий</h1>

        <div class="tasks">

            <div class="task selected">
                <div>
                    <h3>Задание 0</h3>
                    <p>Тут будет написано ваше задание</p>
                </div>
                <span class="date">Среда</span>
            </div>

            <div class="task">
                <div>
                    <h3>Задание 1</h3>
                    <p>Тут будет написано ваше задание</p>
                </div>
                <span class="date">Вторник</span>
            </div>

            <div class="task">
                <div>
                    <h3>Задание 2</h3>
                    <p>Тут будет написано ваше задание</p>
                </div>
                <span class="date">Вторник</span>
            </div>

            <div class="task">
                <div>
                    <h3>Задание 3</h3>
                    <p>Тут будет написано ваше задание</p>
                </div>
                <span class="date">Вторник</span>
            </div>

            <div class="task">
                <div>
                    <h3>Задание 4</h3>
                    <p>Тут будет написано ваше задание</p>
                </div>
                <span class="date">Вторник</span>
            </div>

        </div>

    </main>

</div>

</body>
</html>